body {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin-top: -90px;
}
.navbar-inverse {
  width: 100%;
  z-index: 9999;
}
ul.nav.navbar-nav.navbar-right li a {
  line-height: 50px;
}
.splash {
  z-index: -60;
  display: flex;
  margin: auto;
  justify-content: center;
  vertical-align: middle;
}
.LoLlogo {
  margin: auto;
  height: 200px;
}
.middle {
  vertical-align: middle;
  position: relative;
}
.IUlogo {
  display: flex;
  margin: auto;
  height: 300px;
  margin-top: -10px;
}
.fontStack {
  text-align: center;
  font-weight: bold;
}
.fontStackSplash {
  text-align: center;
  font-weight: bold;
  padding: 5rem;
  line-height: 200px;
  vertical-align: middle;
  margin: auto;
}
iframe {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.fixed-bottom {
  margin: auto !important;
}
.bottomMargin {
  margin: 2em;
}
.flex {
  text-align: center;
  padding: 2em;
  display: flex;
}
.pad {
  margin: 10px;
}
.bottom {
  position: relative;
  bottom: 0;
}
.discord {
  color: black;
}
.navbar {
  border-radius:0px!important;
}
i{
  padding:1rem;
}
